<div class="card">

    @if (ViewBag.Message != null)
    {
        <span class="message">
            @ViewBag.Message
        </span>
    }

    <div class="home">
        <label class="home__label">Третьим будешь?</label>
        <form asp-controller="Home" asp-action="Inter" method="post">
            <div>
                <button type="submit" class="btn">Да</button>
            </div>
        </form>
    </div>
</div>