.btn {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 5px 10px;
    cursor: pointer;
    color: $text-color;
    background-color: $back-color;
    min-width: 100px;
}
