@using DrinkingBuddies.Mvc.ViewModels.Account;
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
</head>
<body>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" style="color: red"></div>
        <div>
            <label asp-for="Login">Логин</label>
            <input asp-for="Login" type="text" name = "login" placeholder="Введите логин">
            <span asp-validation-for="Login" style="color: red"></span>
        </div>
        <div>
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" type="password" name="password" placeholder="Введите пароль">
            <span asp-validation-for="Password" style="color: red"></span>
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
    </form>
</body>
</html>