@using DrinkingBuddies.Mvc.Services.Members.Dto;
@model IEnumerable<MemberDto>

<div class="member">
	<table class="member__table">
		@foreach (MemberDto member in Model)
		{
			<tr>
				<td>@($"Имя - {member.Name}")</td>
				<td>
					<form asp-controller="Members" asp-action="Delete" method="post" asp-route-id="@member.Id">
						<input type="submit" value="Удалить" class="btn" />
					</form>
				</td>
			</tr>
		}
	</table>

    <form asp-controller="Account" asp-action="Exit" method="post">
        <button type="submit" class="btn">Выйти</button>
    </form>
</div>

