@using DrinkingBuddies.Mvc.Services.Members.Dto;
@model IEnumerable<MemberDto>

	<div>
		@foreach (MemberDto member in Model)
		{
			<div>
			@($"Id - {member.Id}, name - {member.Name}")
		</div>
		}
</div>