<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
</head>
<body>
    <div>
        @await Html.PartialAsync("HeaderPartial")
    </div>

    <div>
        @RenderBody()
    </div>

    <div>
        @await Html.PartialAsync("FooterPartial")
    </div>
</body>
</html>