Footer
<footer class="footer">
	<section class="section">
		<ul class="link-list">
			<li><a href="#" class="link">Какая-то ссылка</a></li>
			<li><a href="#" class="link">Ещё одна ссылка</a></li>
		</ul>
	</section>
	<section class="section">
		<h3 class="title3">Какая-то информация</h3>
		<p class="text">Много букв )))</p>
	</section>
</footer>