<footer class="footer">
	<section class="footer__section">
		<ul class="footer__link-list">
			<li><a href="#" class="footer__link">Какая-то ссылка</a></li>
			<li><a href="#" class="footer__link">Ещё одна ссылка</a></li>
		</ul>
	</section>
	<section class="footer__section">
		<h3 class="footer__title3">Какая-то информация</h3>
		<p class="footer__text">Много букв )))</p>
	</section>
</footer>