<header>
	<div class="container">
		<div class="header">
			<div class="header__logo">
				<img src="~/images/Vodka.jpg" alt="Logo Vodka" class="header__img">
				<h2 class="title2">Собутыльники</h2>
			</div>
			<nav class="header__nav">
				<a href="#" class="header__link">Что-то про пьянство</a>
				<a href="#" class="header__link">Про водку )</a>
			</nav>
		</div>
	</div>
</header>