Header

<header class="header">
	<div class="header__logo">
		<img src="~/images/Vodka.jpg" alt="Logo Vodka" class="header__img">
		<h2 class="title2">Собутыльники</h2>
	</div>
	<nav class="header__nav">
		<a href="#" class="link">Что-то про пьянство</a>
		<a href="#" class="link">Про водку )</a>
	</nav>
</header>